@*Define model*@
@model IEnumerable<Producer>

@*Define ViewData*@

@{
    ViewData["Title"] = "List of Producers";
}

@*Write Code*@

<h1>
    Welcome to Actors view
</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePicture)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Biography)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePicture" style="max-width:150px" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Biography)
                        </td>

                        <td class="align-middle">

                            <a class="btn btn-outline-primary">
                                <i class="bi bi-pencil-square">Edit</i>
                            </a> |

                            <a class="btn btn-outline-info"
                               asp-action="Details"
                               asp-route-id="@item.Id">
                                <i class="bi bi-pencil-eye">Details</i>
                            </a> |

                            <a class="btn btn-danger">
                                <i class="bi bi-trash">Delete</i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

<div class="text-white">
    <a asp-controller="Producers" asp-action="Create" class="btn btn-success">
        <i class="bi bu-plus-circle">
            Add new
        </i>
    </a>

</div>